# Archivos de compilación de ESP-IDF
build/
*/build/

# Configuración local (usar sdkconfig.defaults si se necesita)
sdkconfig
*/sdkconfig

# Archivos del IDE (ejemplos)
.vscode/
.idea/

# Otros
*.bin
*.elf
*.map
*~

# Ignorar la carpeta SONOFF_Dongle dentro de Para_Windows
Para_Windows/SONOFF_Dongle/